.editorconfig export-ignore
.gitattributes export-ignore
.gitignore export-ignore
composer.lock export-ignore
gruntfile.js export-ignore
composer.json export-ignore
gruntfile.js export-ignore
package.json export-ignore
phpcs.xml export-ignore
README.md export-ignore
vendor export-ignore
